# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
frontend/.next/
out/
build/
dist/

# Environment Variables
.env
.env*.local
*.env

# IDE / OS
.vscode/
.idea/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal

# Ignore Documentation / Markdown files as requested
*.md
**/*.md
